<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Limits</title>
    
</head>
<body>
    <h2>Set Monthly Budget Limits</h2>
    <form id="budget-form">
        <label for="category">Category:</label>
        <input type="text" id="category" name="category" required>

        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount" required>

        <label for="month">Month:</label>
        <input type="text" id="month" name="month" required>

        <label for="notes">Notes:</label>
        <input type="text" id="notes" name="notes">

        <button  onclick="addBudgetLimit()" >Add Budget</button>
    </form>
    <p id="message"></p>

    <h3>Budget Limits</h3>
    <table border="1">
        <thead>
            <tr>
                <th>Category</th>
                <th>Amount</th>
                <th>Month</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody id="budget-list"></tbody>
    </table>

    <script id="budget-template" type="x-tmpl-mustache">
        {{#budgetLimits}}
        <tr>
            <td>{{category}}</td>
            <td>{{amount}}</td>
            <td>{{month}}</td>
            <td>{{notes}}</td>
        </tr>
        {{/budgetLimits}}
    </script>
    <script src="https://unpkg.com/mustache@latest"></script>
    <script src="/js/budgetLimitScript.js"></script>
    
</body>
</html>